<div fxFlexFill fxLayout="column" style="display: flex" *ngIf="!isLoading">
  <mat-toolbar class="shadow" color="primary">
    <!--    <span (click)="navigateDiscussionPage()"><mat-icon>arrow_back</mat-icon></span>-->
    <span fxFlex></span>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon matTooltip="Logout">
        logout
      </mat-icon>
    </button>
  </mat-toolbar>
  <mat-card style="margin-left: 5%; margin-right: 5%; margin-top: 3%;">
    <div class="post-detail">{{currentDiscussion.groupName}}・Posted by {{currentDiscussion.username}}  <span
      class="date-text">{{currentDiscussion.publishDate.toLocaleDateString("en-US")}}</span></div>
    <mat-card-title>{{currentDiscussion.title}}</mat-card-title>
    <mat-card-content>
      <span>{{currentDiscussion.content}}</span>
    </mat-card-content>
    <mat-card-content>
      <form #addCommentForm="ngForm" (ngSubmit)="addComment(addCommentForm)">
        <textarea name="comment" ngModel
                  style="padding-left: 1%; padding-top: 0.5%; min-height: 100px; min-width: 100%;"
                  placeholder="What are your thoughts?"></textarea>
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="picker"
                 placeholder="Choose a date"
                 [formControl]="dateControl"
                 (dateChange)="dateUpdated()">
          <mat-datepicker-toggle matSuffix [for]="$any(picker)">
          </mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                   [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
                                   [touchUi]="false" [enableMeridian]="false"
                                   [disableMinute]="false" [hideTime]="false">
          </ngx-mat-datetime-picker>
        </mat-form-field>
        <button style=" color: dimgray; border-radius: 25px; float: right" mat-raised-button type="submit">
          Comment
        </button>
      </form>
    </mat-card-content>
    <mat-card-content style="padding-top: 8%">
      <hr>
      <mat-list fxLayout="column" fxLayoutGap="20px">
        <mat-card fxLayout="row" fxLayoutAlign="space-between" *ngFor="let comment of comments">
          <div class="container-fluid">
            <div class="post-detail">Posted by {{comment.username ? comment.username : ""}}  <span
              class="date-text">{{comment.publishDate.toLocaleDateString("en-US")}}</span></div>
            <mat-card-content>
              {{comment.content ? comment.content : ""}}
            </mat-card-content>
            <mat-card-content>
              <button mat-icon-button (click)="onLikeChange(comment)">
                <mat-icon *ngIf="!comment.liked">favorite_border</mat-icon>
                <mat-icon id="favoriteIcon" *ngIf="comment.liked">favorite</mat-icon>
              </button>
              <span>{{comment.likeCount}}</span>
            </mat-card-content>
          </div>
        </mat-card>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
<div fxFlexFill fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoading && !isError">
  <mat-spinner style="align-content: center"></mat-spinner>
</div>
