<div fxFlexFill fxLayout="column" style="display: flex" *ngIf="!isFetching">
  <mat-toolbar color="primary">
    <span (click)='navigateToFeed()'><mat-icon matTooltip="Feed">person</mat-icon></span>
    <span fxFlex></span>
    <button mat-icon-button (click)="openDialog(addModalG)"><mat-icon matTooltip="Add"> add_box </mat-icon></button>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon matTooltip="Logout">
        logout
      </mat-icon>
    </button>
  </mat-toolbar>
  <mat-form-field appearance="fill" style="background-color: rgb(117, 72, 189);" >
    <mat-label ><span style="color: white;">Search groups by name</span></mat-label>
    <input matInput />
    <mat-icon matPrefix style="color: white;">search</mat-icon>
  </mat-form-field>
  <mat-list fxLayout="column" fxLayoutGap="20px"
            style="margin-left: 5%; margin-right: 5% ; margin-top: 10px; overflow: auto">
    <mat-card fxLayout="row" fxLayoutAlign="space-between" *ngFor="let group of groups">
      <div>
        <mat-card-title>{{group.name}}</mat-card-title>
      </div>
      <div>
        <button *ngIf="false" mat-fab color="primary" (click)="onSubscribe(group)">
          <mat-icon>fast_forward</mat-icon>
        </button>
        <button *ngIf="true" mat-fab color="primary" (click)="onSubscribe(group)">
          <mat-icon>fast_forward</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-list>
</div>
<div fxFlexFill fxLayout="column" fxLayoutAlign="center center" *ngIf="isFetching && !error">
  <mat-spinner style="align-content: center"></mat-spinner>
</div>

<ng-template #addModalG let-modal>
  <div class="container">
    <form (ngSubmit)="onSaveClick()">

      <h1 mat-dialog-title>Create a group...</h1>


      <mat-form-field appearance="fill" fxFlexFill>
        <mat-label>Name</mat-label>
        <input matInput [formControl]="nameControl">
      </mat-form-field>



      <div mat-dialog-actions class="flex-row">
        <button  type="button" mat-button class="float-start" (click)="onCancelClick()">Close</button>
        <button type="submit" mat-button class="float-end" cdkFocusInitial>Save</button>
      </div>

    </form>
  </div>

</ng-template>

