<div fxFlexFill fxLayout="column" style="display: flex" *ngIf="!isFetching">
  <mat-toolbar color="primary">
    <button style="margin-right: 5px" mat-icon-button (click)="onGoBack()">
      <mat-icon matTooltip="Go back">fast_rewind</mat-icon>
    </button>
    <span>Loged as {{user}}</span>
    <span fxFlex></span>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon matTooltip="Logout">
        logout
      </mat-icon>
    </button>
  </mat-toolbar>
  <mat-form-field appearance="fill" style="background-color: rgb(117, 72, 189);" >
    <mat-label ><span style="color: white;">Search groups by name</span></mat-label>
    <input matInput />
    <mat-icon matPrefix style="color: white;">search</mat-icon>
  </mat-form-field>
  <mat-list fxLayout="column" fxLayoutGap="20px"
            style="margin-left: 5%; margin-right: 5% ; margin-top: 10px; overflow: auto">
    <mat-card fxLayout="row" fxLayoutAlign="space-between" *ngFor="let group of groups">
      <div>
        <mat-card-title>{{group.name}}</mat-card-title>
        <mat-card-content>
          {{group.name}}
        </mat-card-content>
      </div>
      <div>
        <button *ngIf="false" mat-fab color="primary" (click)="onSubscribe(group)">
          <mat-icon>fast_forward</mat-icon>
        </button>
        <button *ngIf="true" mat-fab color="primary" (click)="onSubscribe(group)">
          <mat-icon>fast_forward</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-list>
</div>
<div fxFlexFill fxLayout="column" fxLayoutAlign="center center" *ngIf="isFetching && !error">
  <mat-spinner style="align-content: center"></mat-spinner>
</div>
