<mat-toolbar class="shadow" color="primary">
  <span>1Moment</span>
  <span fxFlex></span>
  <button mat-icon-button (click)="onLogout()">
    <mat-icon matTooltip="Logout">
      logout
    </mat-icon>
  </button>
</mat-toolbar>
<div class="container-fluid discussion-list">
  <mat-list fxLayout="column" fxLayoutGap="20px">
    <mat-card class="shadow" fxLayout="row" fxLayoutAlign="space-between">
      <div class="container-fluid">
        <div class="post-detail">{{"UBBFMI2020"}}・Posted by {{"Cristian"}}  <span class="date-text">{{"12 / 1 / 2022"}}</span></div>
        <mat-card-title>
          <span class="title-text">{{"What do Romanians think of Asians ?"}}</span>
        </mat-card-title>
        <mat-card-content class="question-text">
          {{"I am a Korean traveler. I am planning to travel to several countries including Romania next week Romania is a  country I've never been to, so I'm very afraid about racism So What do they think of Koreans?"}}
        </mat-card-content>
        <hr class="w-100">
        <mat-card-content class="comment-text">
          <span class="comment-information">{{"Andrei"}}・<span class="date-text">{{"12 / 1 / 2022"}}</span> </span>
          {{"To integrate well you'll have to let us win at Starcraft from time to time."}}
        </mat-card-content>
      </div>
    </mat-card>
  </mat-list>
</div>
<div class="container-fluid discussion-list">
  <mat-list fxLayout="column" fxLayoutGap="20px">
    <mat-card class="shadow" fxLayout="row" fxLayoutAlign="space-between">
      <div class="container-fluid">
        <div class="post-detail">{{"UBBFMI2020"}}・Posted by {{"Andrei"}}  <span class="date-text">{{"12 / 1 / 2022"}}</span></div>
        <mat-card-title>
          <span class="title-text">{{"What do Romanians think of Asians ?"}}</span>
        </mat-card-title>
        <mat-card-content class="question-text">
          {{"I am planning to travel to several countries including Romania next week Romania is a  country I've never been to, so I'm very afraid about racism So What do they think of Koreans?"}}
        </mat-card-content>
        <hr class="w-100">
        <mat-card-content class="comment-text">
          <span class="comment-information">{{"Andrei"}}・<span class="date-text">{{"12 / 2 / 2022"}}</span> </span>
          {{"To integrate well you'll have to let us win at Starcraft from time to time."}}
        </mat-card-content>
      </div>
    </mat-card>
  </mat-list>
</div><div class="container-fluid discussion-list">
  <mat-list fxLayout="column" fxLayoutGap="20px">
    <mat-card class="shadow" fxLayout="row" fxLayoutAlign="space-between">
      <div class="container-fluid">
        <div class="post-detail">{{"UBBFMI2020"}}・Posted by {{"Paul"}}  <span class="date-text">{{"12 / 1 / 2021"}}</span></div>
        <mat-card-title>
          <span class="title-text">{{"What do Romanians think of Asians ?"}}</span>
        </mat-card-title>
        <mat-card-content class="question-text">
          {{"I am a Korean traveler. I am planning to travel to several countries including Romania next week Romania is a  country I've never been to, so I'm very afraid about racism So What do they think of Koreans?"}}
        </mat-card-content>
        <hr class="w-100">
        <mat-card-content class="comment-text">
          <span class="comment-information">{{"Andrei"}}・<span class="date-text">{{"12 / 1 / 2022"}}</span> </span>
          {{"To integrate well you'll have to let us win at Starcraft from time to time."}}
        </mat-card-content>
      </div>
    </mat-card>
  </mat-list>
</div>
