.card-body{
  min-height: 90px;
}

.date-text{
  font-size: 11px;
  float: right;
  color: darkgrey;
}

.post-detail{
  padding-bottom: 15px;
  font-size: 11px;
  color: darkgrey;
}

.title-text{
  font-size: 20px;
}

.question-text{
  padding-top: 5px;
  font-size: 14px;
}

.comment-text{
  padding-top: 5px;
  font-size: 14px;
}

.comment-information{
  font-size: 11px;
  color: darkgrey;
  float: right;
}

.highlight{
  background-color: #EBE8FC;
}
