<div fxFlexFill fxLayout="column" style="display: flex" *ngIf="!isFetching">
  <mat-toolbar color="primary">
<!--    <button style="margin-right: 5px" mat-icon-button (click)="onGoBack()">-->
<!--      <mat-icon  matTooltip="Go back">keyboard_backspace</mat-icon>-->
<!--    </button>-->
    <span>Group</span>
    <span fxFlex></span>
    <button mat-icon-button (click)="onSubscribe()">
      <mat-icon
        matTooltip="Subscribe">
        email
      </mat-icon>
    </button>
  </mat-toolbar>
  <mat-list class="discussion-list" fxLayout="column" fxLayoutGap="20px">

    <mat-card fxLayout="row" fxLayoutAlign="space-between" *ngFor="let message of messages" (click)="onDiscutionSelected(message.id)" >
      <div>
        <mat-card-title>{{message.title}}</mat-card-title>
        <mat-card-content>
          {{message.content}}
        </mat-card-content>
      </div>
      <div>
        <button *ngIf="false" mat-fab color="primary" (click)="onLike(message.id)">
          <mat-icon>check_circle_outline</mat-icon>
        </button>
        <button *ngIf="true" mat-fab color="primary" (click)="onDislike(message.id)">
          <mat-icon>check_circle</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-list>
</div>
<div fxFlexFill fxLayout="column" fxLayoutAlign="center center" *ngIf="isFetching && !error">
  <mat-spinner style="align-content: center"></mat-spinner>
</div>


